@charset "utf-8";
/* CSS Document */

body {
	font-family: 'latoregular';
	font-size:14px;
	letter-spacing:0.04em;
	color:#111;
	margin:0;
	padding:0;
}
strong {
	font-family: 'latobold';
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'latobold';
	font-weight:normal;
}
a { color:#000000; text-decoration:none;}
a:focus {
	outline:none;
}
img, p{ padding:0px; margin:0px;}

.waiter_listing {
	width: 400px;
	/*width: 280px;*/
	background-color:#83C0F8;
	position:absolute;
	left:0;
	top:0;
}

.item_listing {
	margin:0 500px 0 400px;
	padding:0 20px;
}

.billing {
	width:500px;
	position:absolute;
	right:0;
	top:0;
	background-color:#D0F8A7;
}

#product_grid {
	list-style-type: none;
	font-size: 1.2em;
	padding: 0 0 10px 0;
	display:inline-block;
	width:100%;
	vertical-align:top;
	background:rgba(0,0,0,0.05);
}
#product_grid li {
	display: block;
	float: left;
	width: 126px;
	padding-top:10px;
	padding-left: 10px;
	text-align: center;
}
#product_grid li img {
	max-width:100%;
}
#product_grid li p strong {
	font-size:13px;
	padding-bottom:5px;
	display:block;
	letter-spacing:0;
}

#product_grid li a{ display: block; padding: 15px; /* color:#0F92FF; */ }
#product_grid li:nth-child(odd) a { background-color: #D9D8C5; }
#product_grid li:nth-child(even) a { background-color: #F6CEE3; }

#table_grid{ list-style-type: none; width: 100%; font-size: 1.2em; padding: 0; display:inline-block; vertical-align:top; }
#table_grid li { display: block; float: left; margin: 5px; width: 56px; vertical-align:middle; border: 1px dashed #000; text-align: center; }
#table_grid li a { display:block; height:50px; line-height:50px; padding:2px; cursor:pointer; background:rgba(255,255,255,0.10); font-family: 'latobold'; }

#waiter_grid{ list-style-type: none; width: 100%; font-size: 1.2em; padding: 0; display:inline-block; vertical-align:top; }
#waiter_grid li { display: block; float: left; margin: 5px; width: 56px; vertical-align:middle; border: 1px dashed #000; text-align: center; }
#waiter_grid li a { display:block; height:50px; line-height:50px; padding:2px; cursor:pointer; background:rgba(255,255,255,0.10); font-family: 'latobold'; }


.waiter_second {
	background:#B0A472;
}

.titleleft {
	text-align:center;
	padding-top:15px;
	font-family: 'latobold';
	font-size:16px;
}

.background_selected{ background-color:#BEBBBB;}

.bill_tbl { 
	width:100%;
	border:solid 1px #000;
}
.bill_tbl td {
	padding:4px 10px;
	border-top:solid 1px rgba(0,0,0,0.50);
	border-right:solid 1px rgba(0,0,0,0.20);
}
.bill_tbl td:nth-child(1) { width:70px;}
.bill_tbl td:nth-child(2) { width:140px;}
.bill_tbl td:nth-child(3) { width:60px;}
.bill_tbl td:nth-child(4) { width:70px;}
.bill_tbl td:nth-child(4),
.bill_tbl td:nth-child(5) {
	text-align:right;
}
.bill_tbl tr:first-child td {
	font-family: 'latobold';
	border-top:none;
	border-bottom:solid 1px rgba(0,0,0,1.00);
	background:rgba(0,0,0,0.10);
}
.waiter_first { background:#59C8DF;}

#cust_info { 
	background:#83BF17;
	padding:15px;
}
#cust_info #sec,
#cust_info .form-group {
	display:inline-block;
	width:100%;
	vertical-align:top;
	padding:2px 0;
}
#cust_info label {
	display:block;
	width:100px;
	line-height:25px;
	color:#fff;
	font-family: 'latobold';
	float:left;
}
#cust_info input,
#cust_info select {
	height:25px;
	float:left;
	width:300px;
	padding:0 5px;
}


.button_01 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	font-weight:600;
	cursor:pointer;
}




/* ----Loading ST---- */
#overlay {
	height:100%;
	display:none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
/* ----Loading EN---- */

.logo-block {
	/*width:280px;*/
	background:#fff;
}
.logo-block > img {
	display: block;
	width:280px;
	margin-right: auto;
	margin-left: auto;
}
.logo-block .h-icons  {
	width:100%;
	display:inline-block;
}
.logo-block .h-icons .icon1  {
	float:left;
	width:60px;
	vertical-align:top;
}
.logo-block .h-icons .icon-center  {
	width:100%;
	display:block;
	text-align:center;
	margin-top:10px;
}
.logo-block .h-icons .icon2  {
	float:right;
	width:45px;
	vertical-align:top;
}
.logo-block .h-icons .icon1 img,
.logo-block .h-icons .icon2 img {
	max-width:100%;
}

.selectb{
	color : RED;
}
.selectwt{
	background : RED !important;
}

.hide{
	display:none !important;
}

.billing  .menu-links li {
	display: inline-block;
    font-size: 15px;
    font-weight: bold;
    list-style: outside none none;
    padding: 10px;
}
.menu-links {
    text-align: right;
}

.menu-links  ul {
    padding: 0 16px 0 0;
}


/* calculator */
#box2 {
    position: absolute;
    z-index: 100;
}

#calculator {
    background-color: #f4f4f4;
    width: 190px;
}
#calculator {
    opacity: 0.85;
}
.drag {
    position: relative;
}
.calculatorcontainer {
    border-color: #c0c0c0;
    border-style: solid outset outset solid;
    border-width: 1px 2px 2px 1px;
    padding: 5px;
}
#version {
    float: left;
    font-family: arial;
    font-size: 0.7em;
    padding: 2px 0 0 2px;
}

#calculator #control {
    text-align: right;
}

#calculator input {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 1.9em;
    height: 50px;
    margin: 2px;
    width: 50px;
}

#calculator .operation {
    background-color: #ddd;
    font-weight: bold;
}

.order-item table th,
.order-item table td,
.order-master table th,
.order-master table td { font-size: 18px; }

.order-item .close_icon,
.order-item .checkbox {
	display: inline-block;
	vertical-align: middle;
}

.order-item .checkbox input[type=checkbox] { display:none; }
.order-item .checkbox:before {
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 2px;
	box-shadow: none;
	color: #f3f3f3;
	content: "";
	display: inline-block;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
}
.waiter_listing .item_weight{
	background-color: white;
    float: left;
    margin-top: 5px;
    width: auto;
}

.waiter_listing .gm2{
	 background-color: blue;
    box-sizing: border-box;
    color: white;
    float: left;
    font-size: 48px;
    height: 76px;
    margin-left: 4px;
    margin-top: 4px;
    padding: 8px 0;
    width: 95px;
}